@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
  }

  code {
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  }
}

@layer components {

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes short-slide-up-fade-in-animation {
    0%    { 
      opacity: 0; 
      transform: translateY(20px); 
    }
    100%  { 
      opacity: 1; 
      transform: translateY(0); 
    }
  }

  @keyframes short-slide-up-fade-in-animation {
    0%    { 
      opacity: 0; 
      transform: translateY(20px); 
    }
    100%  { 
      opacity: 1; 
      transform: translateY(0); 
    }
  }

  @keyframes short-slide-right-fade-in-animation {
    0%    { 
      opacity: 0; 
      transform: translateX(-10px); 
    }
    100%  { 
      opacity: 1; 
      transform: translateX(0); 
    }
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  .animate-short-slide-up-fade-in {
    animation: short-slide-up-fade-in-animation 0.5s ease-in-out;
  }

  .animate-short-slide-right-fade-in {
    animation: short-slide-right-fade-in-animation 0.5s ease-in-out;
  }
}

